<div class="card">
    <div class="card-body">
        <h5 class="card-title">Nuevo Usuario</h5>
        <form 
            class="text-center border border-light p-5"
            (ngSubmit)="onSubmit()"
        >
            <!-- Nombre -->
            <div class="input-group mb-4">
                <span class="input-group-text">
                    <i class="bi bi-person-square"></i>
                </span>
                <input 
                    class="form-control"
                    [ngModelOptions]="{standalone: true}" 
                    id="name" 
                    [(ngModel)]='user.name' 
                    placeholder="Nombre de usuario"
                >
            </div>
            
            <!-- Documento -->
            <div class="input-group mb-4">
                <span class="input-group-text">
                    <i class="bi bi-person-vcard"></i>
                </span>
                <input 
                    class="form-control"
                    [ngModelOptions]="{standalone: true}" 
                    id="document" 
                    [(ngModel)]='user.document' 
                    placeholder="Documento"
                >
            </div>
            
            <!-- Correo -->
            <div class="input-group mb-4">
                <span class="input-group-text">
                    <i class="bi bi-envelope-at"></i>
                </span>
                <input 
                    class="form-control"
                    [ngModelOptions]="{standalone: true}" 
                    id="email" 
                    [(ngModel)]='user.email' 
                    placeholder="Correo"
                >
            </div>
            <!-- Crear Usuario -->
            <button type="button" class="btn btn-primary" type="submit">Crear Usuario</button>
        </form>
    </div>
</div>   
